HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

backend/CineLog/src/main/resources/application-secret.properties
backend/CineLog/src/main/resources/application.properties
backend/CineLog/src/main/java/com/atamanahmet/cinelog/security/JwtUtil.java
backend/CineLog/src/main/java/com/atamanahmet/cinelog/security/SecurityConstants.java
recommendation-engine/service/rec-env
uploads

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.venv

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
